body{
  font-family: sans-serif;
  font: helvetica;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px;
}
header{
  width: 100%;
  background-color: hsl(0, 0%, 25%);
  color: hsl(0, 0%, 85%);
}
nav ul{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
li{padding: 1rem;
  margin: 1rem;
}
a{
  color: hsl(0, 0%, 85%);
}
main{
  width: 100%;
  background-color: hsl(141,31%,58%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 10rem;
  margin-top: 1rem;
  margin-bottom: 0rem;
}
.lines{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-right: 2rem;
}
.line-1{
  transform: rotate(45deg);
  background: linear-gradient(to top, rgba(252,97,196,0), rgba(252,97,196,1));
  width: 9px;
  height: 3in;
  margin-right: 9rem;
}
.line-2{
  transform: rotate(45deg);
  background: linear-gradient(to top, rgba(255,0,0,0), rgba(255,0,0,1));
  width: 9px;
  height: 3in;
}
.line-3{
  transform: rotate(45deg);
  background: linear-gradient(to top, rgba(137,83,158,0), rgba(137,83,158,1));
  width: 9px;
  height: 3in;
  margin-left: 9rem;
}
main p{
  margin-top: 0rem;
}
footer{
  width: 100%;
  background-color: hsl(0,0%,25%);
  color: hsl(0, 0%, 85%);
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: flex-start;
}
